*.pyc
staticfiles
db.sqlite3

# Settings file (recreate in production)
settings.py

# Virtualenvs
venv/
bokeh-venv/
venv3/

# Cloud9 trash
.~c9*

# Phil test files
phil.sql

# Dave test files
dave_find_company.py
dave_test_cache.py

# Old data files we are now ignoring
heroku/
old_data/
data/
test_db/
