*.pyc
staticfiles
db.sqlite3

# Settings file (recreate in production)
settings.py

# Virtualenvs
venv/
bokeh-venv/
venv3/

# Cloud9 trash
.~c9*

# Phil test files
phil.sql

# Dave test files
dave_find_company.py
weird_bug.txt
dave_test*

# Old data files we are now ignoring
heroku/
old_data/
test_data/
test_db/
old_logos/

# Test databases
test*.db

# Log files
*.log

#WIP test file
.ht_test.py

# Renamed db so it wont be added to github
renamed_hackrtrackr.db
